* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
}

img {
    padding: 10px;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #1a5094;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    cursor: pointer;
}

nav li a:hover {
	color: #cea00a;
}

@media (max-width: 1200px) {
    .bar-tog {
        display: none;
    }
}

@media (max-width: 1000px) {
    nav {
        font-size: 0.7em;
    }
    .logo {
        width: 130px;
        height: auto;
        padding: 20px;
    }

   
}

@media (max-width: 800px) {
    nav {
            font-size: 0.3em;
    }
    .logo {
        width: 80px;
        height: auto;
        padding: 25px;
    }
}


    .donate-button a {
	border-radius: 5px;
	background-color: #941a58;
	text-decoration: none;
	color: #fff !important;
	padding: 10px 20px !important;
	box-shadow: 2px 4px 6px #2f2f2e;
}

.donate-button a:hover {
	color: #cea00a !important;
	background-color: #fff;
}


.header-content {
	background-image: url('images/banner.jpg');
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.text-area{
	color: #fff;
	padding-left: 200px;
	padding-top: 200px;
}

@media (max-width: 900px) {
    .bar-tog {
        display: block;
        width: 100px;
        height: auto;
        margin: 10px;
        background: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        color: #1a5094;
    }

    .bar-tog {
        width: 40px;
        height: 40px;
    }

    .bar-tog:before {
        content: 'x';
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .bar-tog.active:before {
        content: '-';
    }

    .logo {
        padding-left: 300px;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .menu.active ul {
        display: block;
    }

    .text-area {
        padding-left: 50px;
        padding-top: 200px;
    }
}


@media (max-width: 800px) {
    .bar-tog {
        display: block;
        width: 100px;
        height: auto;
        margin: 10px;
        background: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        color: #1a5094;
    }

    .bar-tog {
        width: 40px;
        height: 40px;
    }

    .bar-tog:before {
        content: 'x';
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .bar-tog.active:before {
        content: '-';
    }

    .logo {
        padding-left: 200px;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .menu.active ul {
        display: block;
    }

    .text-area {
        padding-left: 50px;
        padding-top: 200px;
    }
}


    /* .bar-tog {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80px;
        background-color: #1a5094;
        line-height: 80px;
        float: right;
        margin-right: 25px;
        list-style-type: none;
    } */
    

    .text-area {
        padding-left: 50px;
        padding-top: 200px;
    }
}

@media (max-width: 500px) {
    .text-area {
        padding-left: 20px;
        padding-top: 200px;
    }
}

@media (max-width: 320px) {
    .text-area {
        padding-left: 10px;
        padding-top: 100px;
    }
}

.text-area h1 {
	padding-bottom: 5px;
	color: #eaeaea;
}
.text-area h4 {
	padding-bottom: 20px;
}
.text-area p {
	width: 400px;
	letter-spacing: 2px;
	line-height: 20px;
}
.text-area .button {
	margin-top: 25px;
}
.text-area .button a{
	border-radius: 5px;
	background-color: #1a5094;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	box-shadow: 2px 4px 6px #2f2f2e;
}